.Image {
  width: 50%;
  border-radius: 1000px;
  display: block;
  margin: 0 auto;
  border: solid 10px black;
}
.title {
  background-color: mediumpurple;
  color: cyan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  margin: 10px;
  border-radius: 0px;
}
.topheading {
  background-color: rgb(2, 2, 2);
  text-decoration: none;
  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  margin: 10px;
  border-radius: 50px;
}
.Navigation {
  color: rgb(8, 77, 206);
  background-color: darkturquoise;
  border-radius: 100px;
}
h2,.Navigation,.title,.Image,
.heading {
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 12px;
}
h2,.heading {
  font-size: larger;
  text-decoration: overline;
  font-size: medium;
  top: 30px;
}
.legend {
  font-family:initial;
  font-weight: bolder;
}
.Message {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  border: solid 3px black;
  border-width: 7px;
  background-color: antiquewhite;
}
.buttons {
  display: block;
  margin: 0 auto;
  background-color: crimson;
}
.Moitreya {
  display: flex;
  float: left;
  position: relative;
  width: 19%;
  border-radius: 10000px;
  border: solid 2px black;
}
body {
  background-color: bisque;
}
.moitreyatext {
  position: relative;
  top: 20px;
  box-sizing: border-box;
  left: 10px;
  z-index: 1;
  left: 20px;
}
.heading {
  font-size: xx-large;
  position: relative;
  text-decoration: underline;
  right: 300px;
  z-index: -1;
}
.heading2 {
  font-size: xx-large;
  position: relative;
  align-content: center;
  text-decoration: underline;
  left: 330px;
  z-index: -1;
}
.Marvelbeatbox {
  display: flex;
  float: right;
  position: relative;
  width: 20%;
  border-radius: 150px;
  height: 30%;
}
.marveltext {
  text-align: right;
  top: 20px;
  z-index: -1;
}
.container{
  background-color: cornsilk;
  border: solid 2px black;
  display: flex;
  justify-content: center;
}
.items{
  border: 1px solid rosybrown;
  margin: 10px;
}
