#unfloated-container {
  width: 1000px;
}
body {
  margin: 0 auto;
  background-color: bisque;
}

.Image {
  width: 50%;
  border-radius: 1000px;
  display: block;
  margin: 0 auto;
  border: solid 5px black;
}
.title {
  background-color:lavender;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  border: solid 5px black;
  border-radius: 0px;
}
.topheading {
  background-color: rgb(2, 2, 2);
  text-decoration: none;
  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  margin: 10px;
  border-radius: 50px;
}
.Navigation {
  color: rgb(0, 0, 0);
  background-color: rgb(8, 77, 206);
  border-radius: 200px;
}
h2,
.Navigation,
.title,
.Image
 {
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 12px;
}
h2 {
  font-size: larger;
  text-decoration: overline;
  font-size: medium;
  top: 30px;
}
.legend {
  font-family: initial;
  font-weight: bolder;
}
.Message {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  border: solid 3px black;
  border-width: 7px;
  background-color: antiquewhite;
}
.Message2 {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  text-decoration: underline;
  border-width: 7px;

}
.buttons {
  display: block;
  margin: 0 auto;
  background-color:cornflowerblue;
}

.Moitreyaimg {
  
  float: left;
  width: 19%;
  border-radius: 10000px;
  border: solid 2px black;
}

.moitreyatext {
  position: relative;
  z-index: 1;
  margin-left: 220px;
}
.heading {
  font-size: xx-large;
  text-decoration: underline;
  text-align: left;
  z-index: -1;
  right: 320px;
}
.heading2 {
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
  z-index: -1;
  display: flex;
  justify-content: end;
}
.Marvelbeatbox {
  float: right;
  position: relative;
  width: 20%;
  border-radius: 150px;
  border: solid 2px black;
  height: 30%;
}
.marveltext {
  text-align: right;
  top: 20px;
  z-index: -1;
}
.container {
  background-color: whitesmoke;
  border: solid 2px black;
  display: flex;
  justify-content: space-between;
}
.item {
  text-align: center;
  text-decoration: wavy;
  padding: 5px;
}
.img4{
  width: 30%;
}
.container-nav{
  background-color: whitesmoke;
  border: solid 2px black;
  display: flex;
  justify-content: space-between;
}
.item-nav{
  text-align: center;
  text-decoration: wavy;
  padding: 5px;
}
