body {
  background-image: url(https://imgs.search.brave.com/l0ixk8510o01PVwf6p_vemhQ1Xrtl8ylBOmUdnkZ32k/rs:fit:550:250:1/g:ce/aHR0cHM6Ly93d3cu/ZGVzaWduYm9sdHMu/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDEyLzEyL05vaXN5/LUdyaWQtU2VhbWxl/c3MtUGF0dGVybi1G/b3ItV2Vic2l0ZS1C/YWNrZ3JvdW5kLmpw/Zw);
}
.Image {
  width: 25rem;
  border-radius: 1000px;
  display: block;
  margin: 0 auto;
  border: solid 5px rgb(22, 7, 7);
  object-fit: cover;
  animation: bounce-in-bck 0.9s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1s
    backwards;
  position: relative;
  bottom: 20px;
}
@keyframes bounce-in-bck {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}
.title {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  color: rgb(37, 35, 35);
  border: solid 5px rgba(38, 36, 36, 0.607);
  border-radius: 0px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: -1.2px;
  word-spacing: -0.4px;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.topheading {
  background: #000000;
  background: -webkit-linear-gradient(to right, #666262, #000000);
  background: linear-gradient(to right, #646060, #000000);
  text-decoration: none;
  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  margin: 10px;
  border-radius: 50px;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) alternate;
}
.Navigation {
  color: rgb(0, 0, 0);
  background-color: rgb(8, 77, 206);
  border-radius: 200px;
}
h2,.Navigation,.title,
.Image {
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 12px;
}
h2 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: -1.2px;
  word-spacing: -0.4px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}
.legend {
  font-family: initial;
  font-weight: bolder;
}
#prompt {
  display: block;
  margin: 0 auto !important;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  background-color: honeydew;
  border-radius: 45rem;
  width: 250px !important;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  letter-spacing: -1.2px;
  word-spacing: -0.4px;
  color: #000000;
  text-decoration: solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  position: relative;
  bottom: 20px;
}
#Message {
  display: grid;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  border: solid 3px black;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: -1.2px;
  word-spacing: -0.4px;
  color: #231f1f;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  animation: color-change-3x 4s linear infinite alternate both;
  text-shadow: "none";
}
.Message3 {
  display: grid;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  border: solid 3px black;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: -1.2px;
  word-spacing: -0.4px;
  color: #231f1f;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  animation: color-change-3x 4s linear infinite alternate both;
  text-shadow: "none";
}
.Message2 {
  display: inline;
  font-size: larger;
  font-weight: bolder;
  text-decoration: underline;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: -1.2px;
  word-spacing: -0.4px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}
#buttons {
  display: block;
  margin: 0 auto;
  justify-content: center;
  width: 100px;
  background-color: cornflowerblue;
  animation: color-change-3x 4s linear infinite alternate-reverse;
  font-family: sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
  position: relative;
  top: 19px;
}
.Moitreyaimg {
  float: left;
  width: 15rem;
  border-radius: 10000px;
  border: solid 3px rgb(0, 0, 0);
}
.Moitreyaimg:hover {
  animation: shadow-pop-tr 0.5s ease-in-out forwards;
}
.moitreyatext {
  font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond,
    Times New Roman, serif;
  font-size: 20px;
  letter-spacing: 1.4px;
  word-spacing: 2px;
  color: #172c5d;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  position: relative;
  z-index: -1;
  margin-left: 250px;
}
#heading {
  font-size: 3.75rem;
  text-decoration: underline;
  text-align: left;
  z-index: -1;
  right: 320px;
  
}
#heading2 {
  font-size: 3.2rem;
  text-align: center;
  text-decoration: underline;
  z-index: -1;
  display: flex;
  justify-content: end;
  color: "none";
  position: relative;
  font-weight: bolder;
}
.Marvelbeatbox {
  float: right;
  position: relative;
  width: 15rem;
  border-radius: 150px;
  border: solid 3px black;
  height: 30%;
  top: 2rem;
}
.Marvelbeatbox:hover {
  animation: shadow-pop-tr 0.5s ease-in-out forwards;
}
.marveltext {
  font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond,
    Times New Roman, serif;
  font-size: 20px;
  letter-spacing: 1.4px;
  word-spacing: 2px;
  color: #172c5d;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-align: right;
  top: 20px;
  z-index: -1;
}
.container {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 0.9px;
  word-spacing: 2px;
}
.item {
  text-align: center;
  text-decoration: wavy;
  border-radius: 100rem;
}
.item:hover {
  animation: shadow-pop-tr 0.5s ease-in-out forwards;
  border: solid 2px gray;
  padding: 0.3rem;
}
@keyframes color-change-3x {
  0% {
    background: #19dcea;
  }
  50% {
    background: #b22cff;
  }
  100% {
    background: #ea2222;
  }
}
.img4 {
  width: 30%;
}
.container-nav {
  background-color: whitesmoke;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 0.9px;
  word-spacing: 2px;
}
.item-nav {
  text-align: center;
  text-decoration: wavy;
}
.item-nav:hover {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  border-radius: 10000rem !important;
  animation-name: hovering;
  animation-duration: 30s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  padding: 10px;
}
@keyframes hovering {
  100% {
    width: 0px;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
a {
  text-decoration: none !important;
  font: inherit !important;
  color: #3e3e3e;
}
.MessageHolder {
  width: 90% !important;
  align-items: center;
  font-size: x-large;
  position: relative;
  top: 0.6rem;
  font-weight: bolder;
}
#MessageName {
  width: 50% !important;
  align-items: center;
  font-size: large;
  font-weight: bolder;
  position: relative;
  top: 9px;
}
::placeholder {
  text-align: center;
  font-style: oblique;
  position: relative;
  font-stretch: extra-expanded;
}
.ceritem-container {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template: auto repeat(4, auto) / repeat(2, auto) repeat(2, auto);
  grid-area: auto;
  padding: 2px 5px 1px 5px;
}
.ceritem {
  margin: solid 2px gold;
}
.img5 {
  width: 100%;
  height: 200px;
  position: relative;
  top: 5px;
}
.img6 {
  width: 100%;
  height: 420px;
}
.grid-1 {
  grid-row: span 2;
  grid-column: span 2;
}
.contbutt {
  display: flex;
  justify-content: space-between;
}
#buttons-1{
  width: 150px;
  background-color: silver;
  font-family: monospace;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: x-large;
  font-size: x-large;
  border: solid 2px rgb(0, 0, 0);

}
#buttons-2{
  width: 150px;
  background-color: rgb(24, 24, 24);
  font-family: monospace;
  font-weight: bolder;
  text-transform: capitalize;
  color: whitesmoke;
  font-size: x-large;
  border: solid 2px rgb(0, 0, 0);
}
.circular{
  border-radius: 100rem;
}
.coolbackground{
  background-image: url(https://imgs.search.brave.com/yWbPrO2FhXTzB3jOyQ3TglFwQMYUpilPELhE2hWh-w4/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5G/SHItN0ZjYnJsV0JX/Vjg0SEwtNlRRSGFI/YSZwaWQ9QXBp);
}
@media screen and (max-width: 431px) {
  .title{
    width: 30rem;
  }
  .topheading{
    width: 29.5rem;
}
  .contbutt{
    width: 31.5rem;
  }
  .Image{
    position: relative;
    left: 2.5rem;
  }
  .container-nav{
    width: 30.7rem;
    height: 3rem;
  }
  .Moitreyaimg{
    position: relative;
    margin-left: 8.5rem;
  }
  #heading{
    margin-left: 7.2rem;
    text-align: center;
  }
  #heading2{
    margin-left: 9rem;
    display: block;
  }
  .moitreyatext{
    display: block;
    width: 32rem;
    margin-left: 0.4rem;
    letter-spacing: .2rem;
  }
  .marveltext{
    width: 32rem;
    word-spacing: 2px;
    margin-left: 0.4rem;
    letter-spacing: 1.4px;
    text-align: left;
  }
  .container{
    width: 28.4rem;
    height: 3rem;
}
  .item{
    letter-spacing: -0.001rem;
  }
  .img4{
    width: 1.5rem;
    height: 65%;
  }
  #Message,.Message3{
    width: 31.50rem;
  }

  .ceritem-container{
    width: 31.5rem;
  }
  .Marvelbeatbox{
    float: none;
    position: relative;
    left: 8.5rem;
    top: 3rem;
  }
  #buttons{
    width: 10rem;
    height: 3rem;
    font-size: large;
  }
}

